// Photon kit stylesheet
@import "../../node_modules/photon/dist/css/photon.css"

// Custom styles
@import animations
@import dropdown

// Add a fake border to the frameless window
// Still need to reconsider what to do with the title buttons
.window
  border 1px solid #aaa

// Make header and footer draggable and unselectable
.toolbar-header, .toolbar-footer
  -webkit-app-region drag
  -webkit-user-select none

// Add spacement between icons and button labels
.btn-label
  margin-left 5px

// Pull text inputs to top when they're placed in the toolbar
.btn-group
  .form-control
    margin-top -10px
