@import "../../node_modules/photon/dist/css/photon.css"

.window
  border 1px solid #aaa

.toolbar-header, .toolbar-footer
  -webkit-user-select none
  -webkit-app-region drag

.btn-label
  margin-left 5px

.btn-group
  .form-control
    margin-top -10px
