<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Tantalus</title>

  <link rel="stylesheet" href="styles/tantalus.css">
</head>
<body style="-webkit-app-region: drag" ng-app="Tantalus" ng-controller="MainCtrl as vm">

  <div class="window">
    <header class="toolbar toolbar-header">
      <h1 class="title">Tantalus</h1>

      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default active">
            <span class="icon icon-home"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-cloud"></span>
          </button>
        </div>

        <div class="pull-right">
          <button class="btn btn-default">
            <span class="icon icon-plus"></span>
          </button>

          <button class="btn btn-default btn-dropdown">
            <span class="icon icon-user"></span>
          </button>
        </div>
      </div>
    </header>

    <div class="window-content">

      <div class="pane-group">
        <div class="pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Notebooks</h5>
            <a ng-repeat="i in vm.notebooks"
              ng-bind="i.name"
              href="#/notebooks/{{ i.id }}"
              class="nav-group-item"
              ng-class="{ 'active': i.id === 1 }"></a>
          </nav>

          <nav class="nav-group">
            <h5 class="nav-group-title">Tags</h5>
            <a ng-repeat="i in vm.tags"
              ng-bind="i.name"
              href="#/tags/{{ i.id }}"
              class="nav-group-item"
              ng-class="{ 'active': i.id === 1 }"></a>
          </nav>
        </div>
        <div class="pane">
          <ul class="list-group">
            <li class="list-group-header">
              <input type="text" class="form-control" placeholder="Search for something">
            </li>
            <li ng-repeat="i in vm.notes" class="list-group-item">
              <div ng-click="vm.goto('/notes/' + i.id)">
                <strong ng-bind="i.title"></strong>
                <p ng-bind="i.body"></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="pane"></div>
      </div>

    </div>

    <footer class="toolbar toolbar-footer">
    </footer>
  </div>

  <script src="js/bundle.js"></script>
</body>
</html>
